$turquoise: #1abc9c;
$emerald: #2ecc71;
$blue: #3498db;
$amethyst: #9b59b6;
$asphalt: #34495e;
$whellow: #FFEDA6;
$yellow: #FFEB3B;
$orange: #F9690E;
$red: #e81c4f;
$clouds: #ecf0f1;
$lightGrey: #A3A4A4;
$grey: #7D7D7D;
$mediumGrey: #666;
$darkGrey: #333;
$pink: #DB0A5B;
$coral: #FF7F50;
