$blue: #3498db;
$emerald: #2ecc71;
$yellow: #FFEB3B;
$orange: #F9690E;

$heart: #e81c4f;

// Palette
$primary-color-dark:   #E64A19;
$primary-color:        #FF5722;
$primary-color-light:  #FFCCBC;
$primary-color-text:   #FFFFFF;
$accent-color:         #00BCD4;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #E3E3E3;
$divider-color-light:  #EFEFEF;
$divider-color-dark:  #333333;
