#dashboardContainer {
  background-color: $clouds;

  .container {
    justify-content: space-between;
  }
}

.dashboardWelcome {
  background-color: $yellow;
  color: $mediumGrey;
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 0;
}

#dashboardForm {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.dashInputContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.dashInput {
  font-family: $Rale;
  font-weight: 400;
  width: 90%;

  &.smallInput {
    width: 48%;
    display: inline-block;
  }

  &:focus {
    box-shadow: 0 1px 2px rgba(black, 0.2);
  }
}

#dashSubmit {
  width: 90%;
  background-color: $coral;
  color: white;
  transition: .15s ease-in-out;

  &:hover {
    background-color: darken($coral, 6%);
  }
}

#dashFile {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

  + label {
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer;
  }

  &:focus + label,
  + label:hover {
    background-color: red;
    outline: 1px dotted #000;
	  outline: -webkit-focus-ring-color auto 5px;
  }
}

#dashboardOverview {
  display: flex;
  flex-direction: column;
}

#overviewSelectorHeading {
  width: 100%;
  text-align: center;
}

#overviewSelector {
  display: flex;
  justify-content: space-around;

  h3 {
    width: 100%;
  }

  button {
    color: white;
    background-color: $grey;
    transition: background-color .3s ease-in-out;
    font-family: $Rale;
    font-weight: 700;

    &.isActive {
      background-color: $coral;

      &:hover {
        background-color: $grey;
      }
    }

    &:hover {
      background-color: $coral;
    }
  }
}

#dashOverviewContainer {
  flex-direction: column;
  background-color: white;
  box-shadow: 0 1px 2px rgba(black, 0.2);

  div {
    display: flex;
  }

  span {
    font-weight: 300;
    font-family: $OS;
    color: $grey;

    i {
      padding-right: 10px;
      color: $darkGrey;
    }
  }
}

.overviewImg {
  background-image: url('../img/hero_beach.jpg');
  background-size: cover;
  height: 300px;
}

.overviewPrimary {
  justify-content: space-around;
  padding-top: 10px;
}

.overviewSecondary {
  flex-direction: column;
  padding: 10px 0;

  span, p {
    padding: 10px 20px;
    margin-bottom: 0;
  }
}

.overviewTertiary {
  flex-wrap: wrap;

  img {
    width: calc(100% / 3 - 2px);
    margin: 1px;
  }
}
