#heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url(../img/hero_beach.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#heroContent {
  flex-direction: column;
  align-items: center;
  padding: 140px 0;
}

#heroHeading {
  color: $primary-color-text;
  font-size: 64px;
}

#heroDescription {
  color: $primary-color-text;
}

#heroLogin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  input, button {
    background-color: rgba(white, 0.6);
    color: $primary-color-text;
  }

  button {
    background-color: $primary-color;
    color: $primary-color-text;
    text-shadow: none;
    transition: .3s ease-in-out;

    &:hover {
      background-color: $primary-color-dark;
    }
  }
}

.loginError {
  color: $heart;
  text-shadow: 0 1px 2px rgba(black, 0.3);
  padding: 5px 20px;
  margin-top: -20px;
  margin-bottom: 10px;
  border: 1px solid $heart;
}

@media screen and (max-width: 768px) {
  #heroContent {
    padding: 60px 0;
  }
}
